{{#if errors}}
	{{#each errors}}
	<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}
<form action="update" method="post">      
		
		{{!-- <input type= "text/html" placeholder = "email" id = "email" name="email" value={{user.email}}> --}}
		<div class="form-group col-md-12">
	      <label for="fname"><h5>First Name</h5></label>
	      <input type="text" class="form-control" name="fname" value={{user.first_name}} placeholder="First Name">
    	</div>

    	<div class="form-group col-md-12">
	      <label for="lname"><h5>Last Name</h5></label>
	      <input type="text" class="form-control" name="lname" value={{user.last_name}} placeholder="Last Name">
    	</div>
        
        <div class="form-group col-md-12">
	      <label for="contact"><h5>Contact</h5></label>
	      <input type="text" class="form-control" name="contact" value={{user.contact_no}} placeholder="Ex. 9999999999">
    	</div>
        
        <button type = "submit" class="btn btn-primary" id = "login">Update</button>
</form>